extends layout
block content
    header.w3-theme-d1
        h1
            b AEBD API REST
    .w3-container
        .w3-row
            .w3-col.m4.l3       
                .w3-side-bar.w3-bar-block.w3-collapse.w3-theme-l5.w3-large
                    h3.w3-bar-item.w3-center.w3-text-teal 
                        b Menu
                    ul.w3-ul
                        li
                            form.w3-container(action='/users',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Users')
                        li
                            form.w3-container(action='/users/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Users History')
                        li
                            form.w3-container(action='/tablespaces',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Tablespaces')
                        li
                            form.w3-container(action='/tablespaces/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Tablespaces History')
                        li
                            form.w3-container(action='/datafiles',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Datafiles')
                        li
                            form.w3-container(action='/datafiles/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Datafiles History')
                        li
                            form.w3-container(action='/sessions',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Sessions')
                        li
                            form.w3-container(action='/sessions/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Sessions History')
                        li
                            form.w3-container(action='/memory',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Memory')
                        li
                            form.w3-container(action='/memory/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Memory History')
                        li
                            form.w3-container(action='/roles',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Roles')
                    br
            .w3-col.m8.l9
                    h3.w3-center.w3-text-teal
                        b= nome
                    .w3-container
                        table.w3-table-all(id="tabelaUsers")
                        table.w3-table-all(id="tabelaUsersHistory")
                        table.w3-table-all(id="tabelaTablespaces")
                        table.w3-table-all(id="tabelaTablespacesHistory")
                        table.w3-table-all(id="tabelaDatafiles")
                        table.w3-table-all(id="tabelaDatafilesHistory")
                        table.w3-table-all(id="tabelaSessions")
                        table.w3-table-all(id="tabelaSessionsHistory")
                        table.w3-table-all(id="tabelaMemory")
                        table.w3-table-all(id="tabelaMemoryHistory")
                        table.w3-table-all(id="tabelaRoles")                       
    br
    footer.w3-large.w3-theme-d1
        address
            b Gerado por AEBD API REST app