doctype html
html
  head
    title Administração e Exploração de Base de Dados.
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/template.css')
  body
    block content
