doctype html
html
  head
    title Administração e Exploração de Base de Dados.
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/template.css')
    link(rel='stylesheet', href='/stylesheets/colour.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/tabela.js')
  body
    block content
